name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Create env file
        run: |
          echo "DJANGO_SECRET_KEY=dummy-secret-key" >> .env
          echo "DJANGO_DEBUG=0" >> .env

      - name: Django system checks
        run: |
          export DJANGO_SETTINGS_MODULE=djangowebsite.settings
        
          python manage.py check

      - name: Run tests
        run: |
          python manage.py test
