name: CI + Deploy to AWS ECS

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  id-token: write
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Django system checks
        working-directory: djangowebsite
        run: |
          python manage.py check

      - name: Run tests
        working-directory: djangowebsite
        run: |
          python manage.py test

  deploy:
    needs: test
    if: github.event_name == 'push'
    runs-on: ubuntu-latest

    env:
      AWS_REGION: eu-north-1
      AWS_ACCOUNT_ID: "022673484057"
      ECR_REPOSITORY: djangodev
      ECS_CLUSTER: default
      ECS_SERVICE: djangodev-8c3e

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::022673484057:role/GitHubActionsECR_ECS
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2
      
      - name: Debug - List files
        run: |
              pwd
              ls -la
              cat Dockerfile
      - name: Build and push Docker image
        run: |
          ECR_REGISTRY=${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com
          docker build -t ${ECR_REPOSITORY}:latest  .
          docker tag ${ECR_REPOSITORY}:latest ${ECR_REGISTRY}/${ECR_REPOSITORY}:latest
          docker push ${ECR_REGISTRY}/${ECR_REPOSITORY}:latest

      - name: Force ECS redeploy
        run: |
          aws ecs update-service \
            --cluster "${ECS_CLUSTER}" \
            --service "${ECS_SERVICE}" \
            --force-new-deployment
